<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <body>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/img/home-bgrnd.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Jomoro's Blog</h1>
                            <span class="subheading">A collection of Jomoro's random ideas.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    {% for each_post in all_posts: %}
                    <div class="post-preview">
                        <a href="{{ url_for("post", id=each_post["id"]) }}">

                            <h2 class="post-title">{{each_post["title"]}}</h2>
                            <h3 class="post-subtitle">{{each_post["subtitle"]}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{{ url_for("contact") }}">{{each_post["author"]}}</a>
                            {{each_post["date"] }}
                        </p>
                    </div>
                    {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />


                    <!-- Post preview-->

                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        {% include "footer.html" %}


    </body>
</html>
